@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


body{
    background-color: #202020;
}

#header{
    text-align: center;
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
    font-size: 5vw;

}
#headerSubtitle{
    text-align: center;
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5vw;
}
@media (min-width: 200px) and (max-width:500px) {
    #headerSubtitle{
        text-align: center;
        color: #ffffff;
        font-family: 'Press Start 2P', cursive;
        font-size: 3vw;
}
}