/**************************************/
/***********general stylesheet*********/
/**************************************/
body{
  background-color: #00C3B7
}

.topTitleBar{
  text-align: center;

}

/**************************************/
/***********header stylesheet**********/
/**************************************/
.header{
  background-color: #00B6AB;
}

.center{
  text-align: center;
}

/**************************************/
/***********body stylesheet************/
/**************************************/
.main-bg{
  background-color: #00C3B7;
}

/**************************************/
/********text-Input stylesheet*********/
/**************************************/
.no-radius{
  border-radius: 0;
}

/**************************************/
/***********footer stylesheet**********/
/**************************************/
