  /**************************************/
  /***********header stylesheet**********/
  /**************************************/
  .header{
    background-color: #00B6AB;
  }
  
  /**************************************/
  /***********body stylesheet************/
  /**************************************/
  body{
    background-color: #00C3B7
  }
  
  /**************************************/
  /********text-Input stylesheet*********/
  /**************************************/
  .no-radius{
    border-radius: 0;
  }
  
  /**************************************/
  /***********footer stylesheet**********/
  /**************************************/